<template>
  
<require from="semantic-ui/semantic.css"></require>
<require from="font-awesome/css/font-awesome.css"></require>
<require from="./nav-bar.html"></require>


<div class="ui black big launch right attached fixed button" click.trigger="showSidebar()">
  <i class="content icon"></i>
  <span class="text">Menu</span>
</div>

<nav-bar router.bind="router">
</nav-bar>
  

<div class="pusher">
  <div class="app-body">
    <div class="ui container">
        <router-view></router-view>
    </div>  
  </div>
</div>

<div>
  <div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Modal Title
    </div>
    <div class="image content">
      <div class="image">
        An image can appear on left or an icon
      </div>
      <div class="description">
        A description can appear on the right
      </div>
    </div>
    <div class="actions">
      <div class="ui button">Cancel</div>
      <div class="ui button">OK</div>
    </div>
  </div>
</div>

</template>