<template bindable="router">

<div style="" class="ui vertical inverted sidebar menu left" id="toc">
<div class="item">
  <a class="ui logo icon image" href="/">
    <img src="/images/logo.png">
  </a>
  <a href="/"><b>UI Docs</b></a>
</div>
<div class="item">
  <div class="header">Introduction</div>
  <div class="menu">
    
      <a repeat.for="row of router.navigation" class="item" class="${row.isActive ? 'active' : ''}" href.bind="row.href">
         ${row.title}
      </a>
      
 
  </div>
</div>
</div>

</template>