<template>
    
<div style="background:url(https://public-media.interaction-design.org/images/ux-daily/56336e2da53e7.jpg)">
    <div>
        <img class="ui small circular image m-15" src="http://semantic-ui.com/images/wireframe/square-image.png"></img>
    </div>
</div>

<div class="ui pointing secondary menu">
    <a class="item active" data-tab="personal">Personal info</a>
    <a class="item" data-tab="public">Public info</a>
</div>

<div class="ui bottom attached tab active" data-tab="personal">
<form class="ui form">
    <h4 class="ui dividing header">Shipping Information</h4>
    <div class="field">
        <label>Name</label>
        <div class="fields">

            <div class="two wide field">

                <input name="shipping[first-name]" placeholder="First Name" type="text">
            </div>
            <div class="two wide field">
                <input name="shipping[last-name]" placeholder="Last Name" type="text">
            </div>
        </div>
    </div>

    <div class="ui segment">
        <div class="field">
            <div class="ui toggle checkbox">
                <input class="hidden" tabindex="0" name="gift" type="checkbox">
                <label>Do not include a receipt in the package</label>
            </div>
        </div>
    </div>
    <div class="ui button" tabindex="0">Submit Order</div>
</form>
</div>

<div class="ui bottom attached tab" data-tab="public">
    <p>1</p>
</div>

</template>