<template>
  <div>
    <input value.bind="quality">
    <video height="480" width="640" id="video" autoplay style="display:none"></video>
    <canvas height="480" width="640" id="canvas"></canvas>
  </div>
</template>
