body .fixed.launch.button {
  display: none;
  position: fixed;
  top: 2.5em;
  left: 0px;
  width: 55px;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: 0.3s width ease, 0.5s transform ease;
  -moz-transition: 0.3s width ease, 0.5s transform ease;
  -o-transition: 0.3s width ease, 0.5s transform ease;
  -ms-transition: 0.3s width ease, 0.5s transform ease;
  transition: 0.3s width ease, 0.5s transform ease;
}

body .fixed.launch.button .text {
  position: absolute;
  white-space: nowrap;
  top: auto;
  left: 54px;
  opacity: 0;
  -webkit-transition: 0.3s opacity 0.3s;
  -moz-transition: 0.3s opacity 0.3s;
  -o-transition: 0.3s opacity 0.3s;
  -ms-transition: 0.3s opacity 0.3s;
  transition: 0.3s opacity 0.3s;
}

body .fixed.launch.button:hover {
  width: 130px;
}

body .fixed.launch.button:hover .text {
  opacity: 1;
}

#app .pusher .app-body {
  background-color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.m-15{
  margin:15px;
}